:root {
  --primary-color: #5c8799;
}

@font-face {
  font-family: Roboto;
  src: url(./Roboto-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20vh;
  background: linear-gradient(to right, #0f2027, #2c5364);
}

.title {
  color: white;
  font-size: 3rem;
  font-family: Roboto;
  font-weight: 700;
}

#city-form {
  width: 400px;
  max-width: 100%;
  position: relative;
}

#city-form input {
  background-color: #8e8ebd1a;
  border: none;
  padding: 1rem 0.7rem;
  width: 100%;
  border-radius: 10px;
  font-size: 1rem;
  font-family: Roboto;
  font-weight: bold;
  color: white;
}

#city-form input:focus {
  outline: 1px solid var(--primary-color);
}

#city-form button {
  background-color: var(--primary-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}

#content {
  border-radius: 20px;
  margin-top: 1rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: rgba(88, 161, 163, 0.1);
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  width: 600px;

  max-width: 100%;
  padding: 1.5rem 1rem;
  visibility: hidden;
}

#content.render {
  visibility: visible;
}

#content.error {
  width: fit-content;
  height: fit-content;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 1rem;
}

.address {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.15;
}

.time {
  font-size: 1rem;
  opacity: 0.6;
}

.location-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.celsius-btn,
.fahrenheit-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.buttons-container {
  background-color: rgba(5, 5, 5, 0.2);
  border-radius: 10px;
  padding: 0.5rem;
  line-height: 1.1;
  width: fit-content;
  justify-self: center;
  align-self: start;
}
.weather {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.1;
}

.conditions {
  font-size: 1rem;
  align-self: flex-end;
  opacity: 0.6;
}

.condition-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-self: flex-end;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 150px;
  max-height: 100%;
}

.temp {
  font-size: 3rem;
  font-weight: bold;
}

.temp-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(230, 227, 227, 0.15);
}

.temp-icon {
  width: 80px;
  height: 80px;
}

.feels-like,
.humidity,
.wind {
  font-size: 1rem;
  font-weight: bold;
}

.stat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-left: 1px solid rgba(230, 227, 227, 0.15);
}
.stat-container div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feelslike-span,
.humidity-span,
.wind-span {
  font-size: 0.6rem;
  color: rgba(156, 176, 199, 0.7);
  font-weight: bold;
}

.error {
  padding: 0.2rem 1rem;
  color: white;
  align-self: center;
}

.loading {
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
}
button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}
